/** Global Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /** Color Pallete */
    --light: rgb(240, 240, 240);
    --dark: #0b0b0b;
    --line: #f0f0f0;
    --yellow: #fbffa7;
    --blue: #0000ff;
    --light-blue: #b1c5ff;
    --green: #b6ffc0;
    --orange: #ff764d;
    --pink: #d5b3ff;
    /** Typograhphy */
    /* fonts */
    --ff-primary: 'Jost', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    /* font-weights */
    --fw-regular: 400;
    --fw-bold: 600;
    /* font-sizes */
    --fs-h1: 5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
}

body {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    margin: 0;
}

a {
    color: var(--dark);
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    color: var(--line);
    margin: none;
}

.is-active>a {
    color: var(--orange);
}


.App {
    max-width: 1600px;
    min-width: 80vw;
    background-color: white;
    overflow: hidden;
}

/** Navbar-styles */
.primary,
.secondary {
    display: flex;
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding: 0 40px 0 40px;
}


.main-nav__link-list--primary {
    display: flex;
    width: 100vw;
    gap: 35px;
    padding: 12px 0 0 20px;
    letter-spacing: -1px;
}

.main-nav__logo {
    width: 80px;
    height: 80px;
    padding-top: 15px;
}

/* More + */
.main-nav__link-list__item:nth-child(6) a {
    color: var(--orange);
}

/* Try live for free */
.main-nav__link-list__item--try a {
    color: var(--blue);
}

.main-nav__link-list__item--try {
    margin-left: auto;
    margin-right: 10px;
}

.main-nav__link-list--secondary {
    display: flex;
    width: 100vw;
    gap: 30px;
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    padding-left: 0px;
}

/** Main page  */

.page-about {
    display: flex;
    justify-content: center;
}

.page-about__image__container {
    position: relative;
    text-align: center;
    color: white;
}

.page-about__ableton-logo {
    color: var(--orange);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}