/** Global Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /** Color Pallete */
    --light: rgb(240, 240, 240);
    --dark: #0b0b0b;
    --line: #f0f0f0;
    --yellow: #fbffa7;
    --blue: #0000ff;
    --light-blue: #b1c5ff;
    --green: #b6ffc0;
    --orange: #ff764d;
    --pink: #d5b3ff;
    /** Typograhphy */
    /* fonts */
    --ff-primary: 'Jost', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    /* font-weights */
    --fw-regular: 500;
    --fw-bold: 600;
    /* font-sizes */
    --fs-h1: 5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.7rem;
    --fs-body: 1.2rem;
}

body {
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    margin: 0;
    /* overflow-x: hidden; */
}

b{
    font-weight: 430;
}

h1 {
    /* font-size: var(--fs-h3); */
    font-weight: var(--fw-regular);
}

p {
    font-size: var(--fs-body);
}

a {
    color: var(--dark);
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    color: var(--line);
    margin: none;
}

.is-active>a {
    color: var(--orange);
}


.App {
    width: 100vw;
    max-width: 1600px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/** Navbar-styles */
.primary,
.secondary {
    display: flex;
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding: 0 40px 0 40px;
}


.main-nav__link-list--primary {
    display: flex;
    width: 100vw;
    gap: 35px;
    padding-left: 20px;
    letter-spacing: -1px;
}

.main-nav__link-list--primary a{
    font-size: 0.8em;
    font-weight: 430;
}

.main-nav__logo {
    width: 90px;
    height: 90px;
    padding-top: 10px;
}

/* More + */
.main-nav__link-list__item:nth-child(6) a {
    color: var(--orange);
}

/* Try live for free */
.main-nav__link-list__item--try a {
    color: var(--blue);
}

.main-nav__link-list__item--try {
    margin-left: auto;
    margin-right: 10px;
}

.main-nav__link-list--secondary {
    display: flex;
    width: 100vw;
    gap: 30px;
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    padding-left: 0px;
}

.menu-toggle {
    display: none;
}

.menu {
    display: none;
}

/** Navbar-responsive */

@media (max-width: 1185px) {

    .primary,
    .secondary {
        display: flex;
        font-family: var(--ff-primary);
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
        padding: 0 40px 0 20px;
    }


    .primary a {
        z-index: 3;
    }

    .menu {
        display: block;
        position: absolute;
        top: 1.3em;
        left: 5.5em;
        z-index: 3;
        font-size: 23px;
    }

    .main-nav__logo {
        z-index: 3;
    }

    .main-nav__link-list--primary {
        height: 100vh;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        flex-direction: column;
        z-index: 2;
        background-color: #0000ff;
        transform: translateY(-50em);
        transition: transform 200ms ease-in-out;
    }

    .menu-toggle:checked~.main-nav__link-list--primary {
        transform: translateY(0em);
        transition: transform 200ms ease-in-out;
    }

    .main-nav__link-list--primary li a {
        color: white;
        margin-left: 1em;
        font-size: 25px;

    }

    .main-nav__link-list--primary :nth-child(1) {
        margin-top: 3em
    }

    .main-nav__link-list__item--try {
        margin-left: unset;
        margin-right: 0px;
    }
}

/** Main page  */

.page-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Main Image */
.page-about__image__container {
    width: 85%;
    height: 60em;
    position: relative;
    text-align: center;
    color: white;
    margin: 0 80px 80px 80px;
    background-image: url("../src/assets/header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Main logo */
.page-about__ableton-logo {
    color: var(--orange);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-about__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body-text a {
    color: var(--blue);
}

.page-about__collage {
    position: relative;
    max-width: 100vw;
    padding: 80px 0 80px 0;
}

/* Products */
.page-about__collage--products {
    display: grid;
    grid-template-columns: 150px 250px;
    grid-template-areas: "one one two";
    justify-content: center;
    align-items: center;
}

.page-about__collage-image_one {
    grid-area: one;
    z-index: 2;
}

.bg-lemonade {
    padding-left: 25%;
    grid-area: two;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    width: 900px;
    height: 850px;
}

/* People */
.page-about__collage--people {
    display: grid;
    grid-template-columns: 450px 250px;
    grid-template-areas: "one one two";
    justify-content: center;
    align-items: center;
}

.page-about__collage-image_five {
    grid-area: two;
    z-index: 2;
}

.bg-spearmint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: var(--green);
    width: 780px;
    height: 1000px;
    grid-area: one;
}

.bg-spearmint>img {
    width: 444px;
    height: 333px;
}

/* Media */
.page-about__media--large {
    margin-left: 8.33333vw;
    margin-right: 8.33333vw;
    width: 85%;
}

.page-about__media__caption {
    font-family: var(--ff-primary);
    margin: 0;
    font-size: medium;
}

/* Improving */



.bg-lavender {
    display: grid;
    grid-template-columns: 600px 300px;
    justify-content: end;
    align-items: center;
    background-color: var(--pink);
    width: 811px;
    height: 710px;
}

.bg-lavender>img {
    width: 400px;
}

/* Teaser */

.page-about__collage--job-teaser {
    width: 85%;
    display: flex;
    justify-content: center;
}

.page-about__collage--job-teaser img {
    width: 500px;
    height: 500px;
}

.bg-periwinkle {
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: var(--light-blue);
    width: 500px;
    height: 500px;
}

.bg-periwinkle h1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.hr{
    border-top: 2px #eeeeee solid;
}

.footer-container {
    font-family: var(--ff-primary);
    width: 85%;
}

.footer-title {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    /* padding-left: 40px; */
    padding: 40px 0px 20px 0px;
}

.footer-grid-container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    row-gap: 60px;
    font-size: 1.2em;
}

.footer__grid-item{
    margin: 0;
    padding: 0px 10px 40px 0px;
}

.footer__grid-item--newsletter > p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer__link-list {
    display: flex;
    width: 100%;
}


.links {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 0px;
}

.email {
    width: 70%;
    padding: 9px 9px;
    border: 1px solid var(--light);
    resize: vertical;
    background-color: var(--light);
    font-family: var(--ff-primary);
}

button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    font-family: var(--ff-primary);
}

.footer__grid-item--langandloc div{
    margin: 0;
    padding-bottom: 10px;
}

.lang {
    width: 30%;
    padding: 4px 20px;
    border: none;
    /* border-radius: 4px; */
    background-color: #f1f1f1;
}

.loc {
    width: 50%;
    padding: 4px 20px;
    border: none;
    /* border-radius: 4px; */
    background-color: #f1f1f1;
}

.test {
    display: flex;
    padding-left: 0px;
}

.test li {
    margin-right: 10px;
}


.footer__link-list {
    grid-column: span 3;
    padding-bottom: 200px;
}


.lists-item{
    padding-bottom: 5px;
}

.imprint {
    margin-right: auto;
}

.footer__logo {
    justify-self: center;
    align-self: center;
    margin-left: 5px;
    width: 60px;
    height: 60px;
}